:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("/img/i-like-food.svg");
  background-color: rgb(243,243,243);
  display: flex;
  flex-direction: column;
}

.container-xxl {
  max-width: 1530px;
  padding-bottom: 4rem;
  flex: 1; /* Makes the container flexible to push the footer down */
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem 0 0 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

a { color: var(--bs-dark); }

/* Category Card */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}

.flag-background {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust this as needed */
  overflow: hidden;
  cursor: pointer;
}

.flag-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/flag.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: 1;
}

.flag-background > * {
  position: relative;
  z-index: 2; 
}

/* Optional media query for responsiveness */
@media (max-width: 768px) {
  .flag-background {
    height: auto; /* Adjust height based on smaller screens if necessary */
  }
}
